! -----------------------------------
! Includes for easier (Instant) rice!
! -----------------------------------
#include ".cache/squash/x_colors"
!#include "/home/arul/.xrdb/colors/monodevek"
!#include "~/.xrdb/fonts/hack"
!#include "/home/arul/.xrdb/rofi/nord"
!#include ".config/rasi/config.rasi"

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
!XTerm.vt100.faceName: Iosevka Term:size=11:antialias=true
XTerm.vt100.faceName: Hack Nerd Font:size=11:antialias=true
!XTerm.vt100.font: -schumacher-clean-medium-r-normal-*-12-120-75-75-c-*-iso8859-*
Xft.rgba: rgb
Xft.dpi: 96
XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.scaleHeight: 1.01
XCursor.theme: Breeze Snow
URxvt.scrollBar: false
URxvt*depth: 32
URxvt.depth: 32
URxvt.perl-ext-common: default,matcher,resize-font,clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
!URxvt.matcher.rend.0: Uline Bold fg5
URxvt*borderless: true
!URxvt*inheritPixMap: true
!URxvt*transparency: true
!URxvt*shading: 120
URxvt.letterSpace: -0.5
URxvt.background: [50]#282a36

st.font: Hack Nerd Font:pixelsize=15:antialias=true
st.bold_font: 1
st.opacity: 127.5
st.shell: /usr/bin/zsh
st.borderpx: 4
!st.color0: #14151b
st.depth: 32
st*depth: 32

st.color8:     #4D4D4D
st.color1:     #FF5555
st.color9:     #FF6E67
st.color2:     #50FA7B
st.color10:    #5AF78E
st.color3:     #F1FA8C
st.color11:    #F4F99D
st.color4:     #BD93F9
st.color12:    #CAA9FA
st.color5:     #FF79C6
st.color13:    #FF92D0
st.color6:     #8BE9FD
st.color14:    #9AEDFE
st.color7:     #BFBFBF
st.color15:    #E6E6E6


Xft.dpi: 190
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
URxvt*lineSpace: -1


URxvt*selection_to_clipboard: false
